:root{
    --base:#f8eae4;
    --primary:#323a82;
    --secondary:#2e2c68;
    --black:#241d11;
}

body{
    margin:0;
    padding:0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    background-color: var(--secondary);
    position: relative;

    a{
        color:var(--primary);
        text-decoration: none;
    }

    .about-link{
        position:fixed;
        color:var(--secondary);
        font-size:24px;
        font-weight: 800;
        right:20px;
        bottom:20px;
    }

    .witch{
        img{
            position: fixed;
            right:15px;
            bottom:0;
            width:200px;
        }
    }

    header{
        height:100vh;
        position: relative;
        background-color: var(--secondary);

        .title{
            text-align: center;
            position: absolute;
            top: 45%;
            left:50%;
            transform: translate(-50%,-50%);

            .logo{
                img{
                    width:500px;
                }
            }
    
            p{

                color:white;
                font-weight: 400;
                font-size: 20px;
                margin:0;
            }
        }

    
    }

    main{

        //ACCUEIL

        color:var(--black);
        background-color:var(--base);
        margin-left:5em;

        .main-container{
            padding:5em;

            .project-container{
                padding-bottom:2em;
                display:flex;
                align-items: center;
                position:relative;

                .project-img{
                    margin-right:3em;
                    
                    img{
                        width:200px;
                    }
                }

                .project-description{
                    h1{
                        margin:0;
                        color:var(--secondary);
                    }
                    h1:hover{
                        color:var(--primary);
                    }
                    .date{
                        font-weight: 300;
                    }

                    p{
                        padding: 1em 0 0em 1em;
                        width:80%;
                    }

                    .project-link{
                        padding-left:1em;
                        font-weight:bold;
                        display: inline;
                        font-size: 20px;
                        transition: all 0.5s;
                    }
                    .project-link:hover{
                        padding-left: 1.5em;
                        a{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    //ABOUT

    .about-container{
        height:100vh;
        position: relative;
        .text{
            font-size:20px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            .hi{
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 0;
            }
            strong{
                color: var(--secondary);
            }
            p{
                margin:15px;
            }
        }

      
    }

}